.a1 {
  display: inline-flex;
  height: 17px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-bottom: .5px solid var(--black-20);
}
.a2 {
  display: inline-flex;
  height: 27px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-bottom: .5px solid var(--black-20);
}