.reviewForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 26px 0;
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(2px);
  background-color: rgba(176, 166, 166, 0.5);
  animation: opacityAnimation .2s linear;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #433c3c;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

